<div class="message user-user-message">
	<img style="float:left; margin-right:9px;" src="http://0.gravatar.com/avatar/f4510afa5a1ceb6ae7c058c25051aed9?s=40&d=identicon" />

	<em class="info">
		<strong class="sender"><%= sender %></strong>
		&raquo;
		<strong class="target"><%= target %></strong>
	</em>

	<small class="time">
		<%= time %>
	</small>

	<p>
		<%= plain %>
	</p>

</div>
