<div id="message-window">
</div>

<form id="post-form" method="POST">
	<input id="target" name="target" type="text" value="@brett"/><br />

	<textarea id="message" name="message"></textarea><br />

	<input id="submit" type="submit" value="Send" />
</form>
